@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;600&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.display-flex{
    display: flex;
}

.dark-one{
    color: #131313;
}

.dark-two{
    color: #424242;
}

.dark-three{
    color: #727272;
}

.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border-radius: 8px;
    padding: 21px 25px; 
    font-size: 1.25rem;
    font-weight:600 ;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
}

.section-title{
    font-size: 2.8rem;
    margin-bottom: 24px;
}


/* Header style */

/* Navbar style */

.brand{
    font-size: 40px;
    font-weight: 2.8rem;
}


.nav-item{
    list-style:none ;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.navbar{
    justify-content:space-between;
    align-items: center;
}

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related style */

.banner-container{
    max-width: 855px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    max-width: 100%;
}

/* responsive for banner and Navbar */

@media screen and (max-width:576px) {
    .navbar,.nav-links{
        flex-direction: column;
    }
    
}


/* second part */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.team-feature{
    margin-left: 75px;
    max-width: 537px;
    
}

.text-1{
    font-weight: 600;
}
.text-2{
    font-weight: bold;
}

.text-3{
    font-weight: bold;
    color:  rgba(255, 144, 14, 1) ;
}

.feature-description{
    font-size: 1rem;
    margin-bottom: 32px;
}

@media screen and  (max-width:576px){
    .teams{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }

    .team-feature{
        margin-left: 20px;
    }
    
}


/* Medium device */


@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

    .team-feature{
        margin-left: 50px auto;
    }
}



/* Fact related style */


.fact-conatiner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.fact{
    border:1px solid rgba(255, 144, 14, 1) ;
    border-radius: 8px;
    height: 240px;
    width: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 10px;
}

.fact-description{
    width: 540px;
    margin-top: 24px;
    margin-bottom: 100px;
}

@media screen and (max-width:576px) {
    .fact-conatiner{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 24px;
    }

    .fact-description{
        width: 100%;
    }
    
}

@media screen and (min-width:576px) and (max-width:992px) {
    .fact-conatiner{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 24px;
    }
    
}




/* Sponsors related style */

.sponsors{
    margin-top: 180px;
}

.sponsors-info{
    max-width: 540px;
    margin:  50px auto;
    text-align: center;
}

.sponsors-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: ;
    margin-bottom: 24px;
}


.sponsors-logos{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.sponsors-logos img{
    filter: grayscale(100%);
}

/* small device */

@media screen and (max-width:576px) {
    .sponsors-logos{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 35px;
    }
}

/* Medium Device */

@media screen and (min-width:576px) and (max-width:992px) {
    .sponsors-logos{
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 35px;
    }
    
}


